@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-50
}

@layer components {
    .btn{
        @apply bg-[#12b488] px-3 py-5 rounded-md text-sm white text-white
    }
}